.invalid {
  display: none;
}

input {
  height: 45px;
  &.ng-invalid.ng-touched {
    border-color: $red;
    + .invalid {
      display: inline-block;
      font-size: $font-s;
      margin-top: 7px;
      color: $red;
    }
  }
}
