@import '../../styles/main';

.app-user-detail {
  padding-top: 125px;

  label {
    display: block;
    margin-bottom: 3px;
  }
  .form-group {
    margin-bottom: 20px;
    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }
  .form-control--dob {
    display: inline-block;
    width: 50%;
  }
}
