<div class="container app-login">
  <div class="row">
    <div class="col col-lg-4">
      <app-alert [message]="submitMessage"></app-alert>
    </div>
    <div class="col col-lg-12">
      <div class="info">
        <span>Username: admin</span>
        <span>Password: admin</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-8 col-lg-6">
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username *</label>
          <input type="text" id="username" placeholder="Username" class="form-control" formControlName="username" />
          <span class="error">Username is required!</span>
        </div>

        <div class="form-group">
          <label for="password">Password *</label>
          <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" />
          <span class="error">Password is required!</span>
        </div>

        <app-button text="Login"></app-button>
      </form>
    </div>
  </div>
</div>
