<div class="app-navigation">
  <nav id="sidebar">
    <div class="title">Demo Users</div>
    <ul class="list-unstyled links">
      <li *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</li>
      <li (click)="goToUsers()">Users</li>
      <li (click)="goToUserDetail()">User Detail</li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar">
      <div class="container-fluid">
        <i class="fa fa-bars" (click)="toggleSidebar()"></i>
      </div>
    </nav>
    <ng-content></ng-content>
  </div>
</div>
