@import '../../styles/main';

.app-navigation {
  display: flex;
  width: 100%;
  align-items: stretch;

  .title {
    font-size: $font-l;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  #sidebar {
    width: 350px;
    min-width: 200px;
    min-height: 100vh;
    padding: 15px;
    background: $dark-red;
    color: $white;
    transition: all 0.3s;
    &.active {
      margin-left: -350px;
    }
    @media (max-width: 768px) {
      margin-left: -350px;
      &.active {
        margin-left: 0;
      }
    }
  }

  .navbar {
    background: $medium-gray;
  }

  .fa-bars {
    color: $white;
    font-size: 30px;
    cursor: pointer;
  }

  ul {
    li {
      margin: 20px 0;
      cursor: pointer;
    }
  }

  #content {
    width: 100%;
  }
}
